nav ul  .bb li {

width:360px;

float:none;

display:list-item;

position: relative;

}
nav ul  ul.b li {

width:330px;

float:none;

display:list-item;

position: relative;

}
nav ul li {

display:inline-block;

background-color: #808000;

}
nav {

margin: 1px 0px;

background-color:  #808000;

}